@import url(//db.onlinewebfonts.com/c/2179845ee578cd3bb30b55dc922bfb38?family=Shrek);
body {
    background-image: url(./../img/fond-definitif.png);
    position:relative;
    background-size:cover; 
    background-repeat:no-repeat; 
    background-attachment: fixed;

    
}
.shrek {
    position: fixed;
    margin-bottom: 18px; 
    
}
header {
    height: 30px;
    width: 30px;
}
h1 {
    font-family: "Shrek";
    color: lawngreen;
    align-items: center; 
    text-align: center; 
} 
@media (min-width: 210px){}


