@import url(//db.onlinewebfonts.com/c/2179845ee578cd3bb30b55dc922bfb38?family=Shrek);
body {
    background-image: url(./../img/fond-definitif.png);
    position:relative;
    background-size:cover; 
    background-repeat:no-repeat; 
    background-attachment: fixed;
    
}

.container .shrek {
    position: fixed;
    margin-bottom: 18px; 
    width: 450px;
    display: flex;
    
}

.container {
    margin-top: 30px;
    
}

.selectLevel , .game {
    width: 600px;
}

header {
    height: 30px;
    width: 30px;
}
h1 {
    font-family: "Shrek";
    color: lawngreen;
    align-items: center; 
    text-align: center; 
    margin-top: 30px;
} 

@media (min-width: 600px){
    .selectLevel , .game {
        width: auto;
    }
}




