@import url(//db.onlinewebfonts.com/c/2179845ee578cd3bb30b55dc922bfb38?family=Shrek);
body {
    background-image: url(./../img/fond-definitif.png);
    position: fixed;
    background-size: cover;
<<<<<<< HEAD
    background-repeat: no-repeat;

=======
>>>>>>> 0d2ecd8342570a5c9acb9bf6b0150e797e9115cc
}
.container {
    position: fixed;
    margin-bottom: 18px; 
   
    
}
header {
    height: 30px;
    width: 30px;
}

h1 {
    font-family: "Shrek";
    color: lawngreen;
    align-items: center; 
    text-align: center;
}
